{% extends 'partials/base.html' %}

<!-- divider  -->
{% load static %}
<!-- divider  -->
{% block content %}

<!-- SHOWCASE SECTION-->
{% include 'components/waves.html' %}

<!-- ===== SERVICES SECTION ===== -->
{% include 'components/services.html' %}

<!-- ===== ABOUT SECTION ===== -->
{% include 'components/about.html' %}

<!-- ===== FAQ SECTION ===== -->
{% include 'components/questions.html' %}

<!-- ===== VIDEO SECTION ===== -->
{% include 'components/video.html' %}

<!-- ===== FEATURED SECTION ===== -->
{% include 'components/featured.html' %}

<!-- ===== PRICING START ===== -->
{% include 'components/pricing.html' %}

<!-- ===== CONTACT SECTION ===== -->
{% include 'components/contact.html' %}

<!-- divider -->
{% endblock content %}
